<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    
    
    
    
    <bean id="santhu" class="com.sun.Employee ">
        <!-- additional collaborators and configuration for this bean go here -->
        <property name="Id" value="1" />
		<property name="name" value="sant2" />
		<property name="sal" value="5000"></property>
    </bean>
    

  <!--     <bean id="pawar" class="com.sun.Project "> -->
     <!--      additional collaborators and configuration for this bean go here -->
       <!--   <constructor-arg ref="myFortune" /> -->
  <!--   </bean>  -->

    <!-- more bean definitions for data access objects go here -->

</beans>